{
    "root": true,
    "env": {
      "node": true
    },
    "extends": [
      "plugin:vue/essential",
      "eslint:recommended",
      "@vue/typescript"
    ],
    "parserOptions": {
      "parser": "@typescript-eslint/parser"
    },
    "rules": {
      "vue/no-unused-components": "warn",
      "no-unused-vars": "warn",
      "@typescript-eslint/no-var-requires": "warn",
      "semi": [
        2,
        "always"
      ],
      "@typescript-eslint/no-floating-promises": "off"
    }
  }