{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "rules": {
      "@typescript-eslint/no-var-requires": "warn",
      "semi": [2, "always"],
      "@typescript-eslint/no-floating-promises": "off",
      "indent": ["warn", 2]
    },
    "parserOptions": {
      "project": "./tsconfig.json"
    }
  }